Repository ejhayes/action-argocd-deploy, pull requests merged in 2023-02, with the labels that each got.

#44 Allow for Access token to be provided for ArgoCD
  .DS_Store
  README.md
  action.yml
  src/index.ts
Labels: documentation, minor, medium

#47 Fix: access token
  .github/workflows/release.yml
  package.json
  src/index.ts
Labels: patch, small

#49 Feat: add additional debug logging when debug mode enabled
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: patch, medium

#50 Feat: improved debug logging
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: patch, small

#48 Feat: Source map support, required labels
  .github/workflows/release.yml
  .github/workflows/required_labels.yml
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Labels: patch, medium

#51 Fix: todo action
  .github/workflows/todo.yml
Labels: patch, small
